[submodule "backend"]
	path = backend
	url = https://github.com/alexissaez/morfeo-api.git
[submodule "frontend"]
	path = frontend
	url = https://github.com/alexissaez/morfeo-web.git
[submodule "landingpage"]
	path = landingpage
	url = https://github.com/alexissaez/mofeo-landing-page.git
